[submodule "components/asio/asio"]
	path = components/asio/asio
	url = https://github.com/chriskohlhoff/asio
	update = none
[submodule "components/mosquitto/mosquitto"]
	path = components/mosquitto/mosquitto
	url = https://github.com/eclipse/mosquitto
	update = none
[submodule "components/libwebsockets/libwebsockets"]
	path = components/libwebsockets/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
	update = none
[submodule "components/libsrtp/libsrtp"]
	path = components/libsrtp/libsrtp
	url = https://github.com/cisco/libsrtp.git
	update = none
[submodule "components/freertos_tcp/FreeRTOS-Plus-TCP"]
	path = components/freertos_tcp/FreeRTOS-Plus-TCP
	url = https://github.com/FreeRTOS/FreeRTOS-Plus-TCP.git
	update = none
